$rose: #ffe4e1;
$dark-rose: #C5908E;
$gray-rose: #a77b7b;
$cor-color: #709999;
$gray: #EFEFEF;

* {
    font-family: 'Noto Serif TC', serif;
    letter-spacing: 2px;
    line-height: 1.5em;
    font-weight: 900;
}

@mixin colorTrans($co, $bc) {
    background-color: $bc;
    color: $co;
    &:hover {
        background-color: $co;
        color: $bc;
    }
}

button {
    font-size: 20px;
    border: 1px solid $gray-rose;
    width: 33.333333%;
}

.col {
    display: flex;
    flex-wrap: wrap;
}

.answerShow {
    justify-content: center;
    align-items: center;
    height: 60px;
    letter-spacing: 2px;
    font-size: 20px;
}

.menu {
    button{
        flex-grow: 1;
        @include colorTrans($gray-rose,$rose);
    }
}
.input-box {
    button{
        @include colorTrans($rose,$dark-rose);
    }
}
.answer-box{
    background-image: url(./anya.jpg);
    background-position: 35%;
    height: 120px;
    background-repeat: no-repeat;
    display: none;
    justify-content: center;
    padding: 20px 0;
    color: $gray-rose;
    div:first-child{
        font-weight: 900;
    }
}