.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 60px;
    line-height: 72px;
}
h2 {
    text-align: center;
    margin: 30px 0;
    color: #548635;
    font-size: 35px;
    font-weight: 600;
    line-height: 42px;
}

h3 {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 36px;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 24px;

    small {
        font-size: 10px;
        line-height: 20px;
        padding: 0 10px;
    }
}

a {
    display: block;
    color: #000;
    text-decoration: none;
    text-align: center;
}

.a-txt {
    display: block;
    position: relative;

    p {
        position: relative;
        z-index: 2;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 4em;
        border: 1px solid #000;
    }

    &::before {
        content: "";
        width: 100%;
        top: 0;
        left: 0;
        height: 0%;
        background-color: #548635;
        position: absolute;
        transition: 0.3s;
    }

    &:hover::before {
        height: 100%;
        color: #fff;
    }

    &:hover p {
        border: 1px solid #548635;
        color: #fff;
    }
}

img {
    width: 100%;
    vertical-align: middle;
}

.mask {
    &::after {
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .3);
        position: absolute;
        opacity: 0;
        transition: 1s;
    }

    &:hover::after {
        opacity: 1;
    }
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    .header{
        justify-content: space-between;
        .lv1{
            .nav-item{
                padding: 28px 10px 28px 0px;
                position: relative;
                a:hover{
                    color: #548635;
                }
                .lv2-gruop{
                    display: none;
                }
                &:hover  .lv2-gruop{
                    box-shadow:  0 0 5px 0 #888;
                    background-color: #fff;
                    padding: 20px;
                    display: flex;
                    align-items: start;
                    position: absolute;
                    z-index: 10;
                    justify-content: space-between;
                    top: 101%;
                    left: 0;
                }
                .lv2 li{
                    padding: 30px;
                    margin: 10px;
                    a{
                        font-size: 16px;
                    }
                }
                .lv2>a{
                    display: block;
                    padding-bottom: 5px;
                    border-bottom: 2px solid #548635;
                }
            }
        }
        .logo{
            img{
                height: 40px;}
        }
        .l-icon{
                .aaa{
                    font-size: 20px;
                    padding:10px;
                }
        }
    }
    .cover{
        .txt{
            width: 50%;
            >*{
                margin-bottom: 20px;
            }
            a{
                width: 50%;
            }
        }
        .pic{
            width: 50%;
        }
    }
    .flexitem {
        position: relative;

        .small {
            font-size: 15px;
            line-height: 25px;
            color: #9c9c9c;
        }

        ul {
            width: 100%;
            justify-content: space-between;

            li {
                width: 35%;
                padding: 40px 0;
            }

            li:nth-child(odd) {
                text-align: start;
            }

            li:nth-child(even) {
                text-align: end;
            }

            li>p:first-child {
                font-weight: 600;
                font-size: 24px;
                line-height: 35px;
            }
        }

        a {
            position: absolute;
            top: 0;
            right: 35%;
            left: 35%;
        }
    }

    .l-product {
        justify-content: space-between;

        .product {
            width: 300px;
            position: relative;

            &>* {
                margin-bottom: 40px;
            }

            &> :not(:first-child) {
                width: 100%;
            }

            p {
                text-align: center;
            }

            p:first-child {
                color: #fff;
                position: absolute;
                top: 0;
                right: 30px;
                background-color: #548635;
                z-index: 2;
                padding: 8px 12px;
                border-radius: 20px 0 20px 0;
            }

            a {
                position: relative;

                &::after {
                    background-color: rgba(255, 255, 255, .8);
                }
            }


            a>h3 {
                font-size: 16px;
                line-height: 24px;

                &:hover {
                    color: #548635;
                }
            }
        }
    }

    .half {
        background-image: url("https://cdn.shopify.com/s/files/1/0356/8343/4555/files/bg-video1.jpg?v=1585532362");
        background-size: 100% auto;
        margin: 80px 0;

        .txt {
            width: 50%;
            align-items: start;

            >* {
                margin: 0 10% 30px;
            }

            a {
                width: 40%;
            }
        }

        .pic {
            width: 50%;
            position: relative;

            a {
                width: 100%;
            }

            a::after {
                content: "▷";
                color: #fff;
                width: 50px;
                text-align: center;
                line-height: 50px;
                font-size: 16px;
                border-radius: 50%;
                border: 1px solid #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 1s;
            }

            a:hover::after {
                border: 1px solid #548635;
                background: #548635;
            }
        }
    }

    .l-carousel {
        padding: 72px 0;
        justify-content: space-between;

        li {
            width: 320px;
            position: relative;
        }
    }

    .footer {
        background-color: #f4f4f4;
        padding: 40px 0 0 0;

        &>a {
            width: 140px;
        }

        &>* {
            margin-bottom: 60px;
        }

        .link-list {
            li {
                a {
                    padding: 0 20px;
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 2px;
                    line-height: 20px;

                    &:hover {
                        color: #136325;
                    }
                }
            }
        }

        .l-icon {
            li {}
        }

        p {
            color: #909090;
        }
    }
}

@media screen and (max-width:768px) {
    .header .menu-switch,
    .header .lv1{
        display: none;
    }
    .switch-line{
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        span{
            height: 2px;
            width: 100%;
            background-color: #518432;
        }
    }
    .m-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .m-col {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .wrap {
        max-width: 768px;
        padding: 30px;
        .flexitem{
            
        .m-block{
            display: block;
            
            li{
                width: 100%;
            }
            li:nth-child(even){
                text-align: start;
            }
            li:nth-child(3){
                margin-bottom: 500px;
            }
        }
        a{
            top: 400px;
            left: 0;
            width: 50%;
        }
    }
        .half{
            .txt,
            .pic{
                width: 80%;
            }
        }
        .l-carousel {
            li{
            width: 48%;
        }
        li:last-child{
            display: none;
        }}
        .footer{
            .link-list li{
                margin-bottom: 10px;
            }
        }
    }

}

.mask .l-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .7);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.mask .l-icon i {
    display: block;
    font-size: 1.5em;
    padding: .5em;
    margin: 0 .3em;
    background-color: #fff;
    border-radius: 50%;
    color: #518432;
    z-index: 10;
}

.mask .l-icon i:hover {
    background-color: #518432;
    color: #fff;
    transition: .3s;
}

.mask:hover .l-icon {
    opacity: 1;
    transition: .5s;
}

.icon-list li {
    position: relative;
    margin: 0 10px;
    padding: 15px;
    background-color: #000;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #000;
}

.icon-list li a {
    color: #fff;
}

.icon-list li a::before {
    content: '';
    display: block;
    background-color: rgb(81, 132, 50);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 101%;
    left: 0;
}

.icon-list li:hover a::before {
    top: 0;
    transition: 0.3s;
}
.icon-list i{
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 11;
}

.nav-item:nth-child(1) .lv2-gruop,
.nav-item:nth-child(3) .lv2-gruop{
    width: 900px;
}
.nav-item:nth-child(5) .lv2-gruop,
.nav-item:nth-child(2) .lv2-gruop{
    width: 300px;
}

.nav-item:nth-child(4) .lv2-gruop{
    width: 150px;
}
.nav-item:nth-child(1) .lv2-gruop li{
    width: 30%;
    box-sizing: border-box;;
}
#menu-switch,
[class="menu-switch"]{
    position: absolute;
    display: none;
}
