@import "reset";

$rose:#ffe4e1;
$dark-rose:#C5908E;
$gray-rose:#997070;
//撰寫技巧：寫完html馬上寫sass
.tophead-wrap {
    background-color: #303030;
}
.tophead-content {
    line-height: 50px;
    .top-head-left {
        h5 {
            letter-spacing: 1.5px;
            margin-right: 5px;
        }

        i {
            line-height: 1.5rem;
        }

        p {

            margin-left: 8px;
        }
    }
    a:hover {
        color: $rose; //玫瑰金色號
    }
    a{
        display: block;
        //我將[a]display: block之後他預設會跟父層滿版，
        //因此我要寫一個line-height去使它有自己的高
        line-height: 16px;
        font-size: 16px;
    }
    a+a {
        margin-left: 5px;
        padding-left: 8px;
        border-left: 1px solid #a7a7a7;
    }
}
//a標籤之間會有預設的一點點間距，這是來自於行內元素的特性
//可以在父層加上font-size: 0;
.down-head-content{
    line-height: 100px;
    .logo-bar{
        font-size: 30px;
        letter-spacing: 1.5px;
        i{
            font-size: 1em;
            color: $gray-rose;
        }
        h4{
            font-weight: 400;
            color: darken(#c7c7c7,30%);
            margin-left: 10px;
            span{
                font-size: 1.2em;
                font-weight: 900;
                color: $dark-rose;
            }
        }
    }
    .search-box{
        align-items: stretch;
        width: 500px;
        border: 1px solid $gray-rose;
        [type=text]{
            box-sizing: border-box;
            flex-grow: 1;
            color: $gray-rose;
            border: none;
            &::placeholder{
                color:   #a7a7a7;
            }
        }
        [type=submit]{
            box-sizing: border-box;
            border: none;
            color: #fff;
            padding: 10px 50px;
            background-color: $gray-rose;
            &:hover{
                background-color: #709999;
            }
        }
    }
}

.menu-wrap{
    margin-top: 20px;
    border-bottom: 5px solid $dark-rose;
    .menu-content{
        font-size: 0;
        button{
            
            border-radius: 0%;
            padding: 20px 50px;
            color: $dark-rose;
            font-size: 18px;
            font-weight: 400;
            &.active,
            &:hover{
                color: #fff;
                background-color:$dark-rose;
            }
        }
    }
}
.breadcrumbs{
    justify-content: start;
    margin-top: 10px;
    a{
        font-weight:400;
        font-size: 16px;
        color: $gray-rose;
        margin-top: 10px;
        padding: 0 10px;
    }
    a:hover{
        color: #709999;
    }
    a+a::before{
        content: ">";
        padding-right: 10px;
    }
}

//放大鏡效果
.photo-wrap{
    position: relative;
    margin-top: 50px;
    width: 300px;
    .small-pic{
        width: 300px;
        border: 2px solid $rose;
        img{

        }
        .mask{
            position: absolute;
            width: 150px;
            height: 150px;
            background-color: rgba(255,255,255,0.5);
            border: 1px solid #ddd;
        }
    }
    .big-pic{
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 320px;
        width: 300px;
        height: 300px;
        img{
        width: 600px;
        height: 600px;
        }
    }
}




[class*=content]{
    width: 1200px;
    margin: 0 auto;
}
